* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  padding: 0 16px;
  width: 1280px;
  margin: auto;
}

button, input {
  padding: 8px;
}

/* =============== HEADER / NAVBAR =============== */

header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

nav, .sign-links {
  display: flex;
}

nav {
  gap: 60px;
}

.sign-links {
  gap: 20px;
}

/* =============== HOME =============== */

.recently-published-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recently-published-article {

}

.recently-published-article p {
 margin: 8px 0 16px;
}

/* =============== SIGN UP/IN =============== */

.form-container {
  border: 1px solid #dbdbdb;
  padding: 32px;
  width: 500px;
  margin: 50px auto 0;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-form button {
  margin-top: 10px;
}